/*列表页面*/
.cd{
    position:fixed;
    top:0px;
    width:100%;
    height:55px;
}
.cd2{
    position:fixed;
    top:0px;
    z-index:99;
    width:100%;
    height:55px;

}
.tital{
    width:100%;
    height:55px;
    text-align:center;
    line-height:55px;
    background-color:#98e165;
    color:#fff;
}
.tital h4{
        font-size:20px;
    font-weight:bold;
}
.tital a{
        display:block;
    position:absolute;
    right:8px;
    top:10px;
    color:#fff;
    font-size:12px;
}
.tital i{
    display:block;
    position:absolute;
    left:5px;
    top:2px;
    color:#fff;

}


.head ul li{
    display:block;
    width:50%;
    height:35px;
    float:left;
    text-align:center;
    line-height:30px;
}
.main{
    width:100%;
    position:absolute;
    top:55px;
}
.main2{
        width:100%;
    position:absolute;
    top:55px;
}
.btn{
    position:fixed;
    bottom:30px;
    right:100px;
    z-index: 99;
    width:70px;
    height:70px;
    border-radius:50%;
    background-color:#98e165;
    color:#fff;
    opacity:0.9;
}


.driverMain{
    width: 100%;

}
.driverMain div{
    width:100%;
    height:100px;
    margin-top:10px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    position:relative;
}
.driverMain span{
    position:absolute;
    left:7px;
    top:5px;
    display:block;
    width:5px;
    height:20px;
    background-color:#18b4ed;
}
.driverMain h2{
    position:absolute;
    left:15px;
    top:3px;
}
.driverMain h3{
    margin-top:35px;
    margin-left:47px;
    float:left;
    clear:both;
}
.driverMain h4{
    margin-top:3px;
    margin-left:15px;
    float:left;
    clear:both;
}
.driverMain p1{
    display:block;
    float:left;
    margin-top:35px;
    margin-left:20px;
}
.driverMain p2{
    display:block;
    float:left;
    margin-top:3px;
    margin-left:20px;
}
.driverMain h{
    margin-top:35px;
    margin-left:15px;
    float:left;
    clear:both;
}
.driverMain p{
    display:block;
    float:left;
    margin-top:35px;
    margin-left:20px;
}
.ruleMain{
    margin:auto;
    margin-top:5px;
    background-color:#fff;
    width:96%;
}
.ruleMain h2{
    margin:auto;
    font-size:30px;
    
}