<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>

<meta name="apple-mobile-web-app-capable" content="yes"/>

<meta name="apple-mobile-web-app-status-bar-style" content="black"/>

<meta name="format-detection" content="telephone=no"/>

<meta name="description" content=""/>
<script type="text/javascript" src="../addons/wx_bookcar/template/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="../addons/wx_bookcar/template/js/swiper-3.3.1.min.js"></script>
<link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/frozen.css">
<link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/style.css">
<link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/swiper.min.css">
<title>微信约车</title>
<body>
<div class="demo-block">
    <div class="cd2">
        <div class="tital" >
            <i class="ui-icon-return" onclick="tz()"></i>
            <h4>个人中心</h4> 
            <a onclick="gx()">编辑</a>
        </div>
     </div>
    <div class="main2">
        <div class="swiper-container" style="height:200px" >
         <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-color:#ccc;">slider1</div>
            <div class="swiper-slide" style="background-color:#ccc;">slider2</div>
            <div class="swiper-slide" style="background-color:#ccc;">slider3</div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="driverMain">
            <div>
                <span class="top"></span><h2>  司机信息</h2>
                <h3>姓名：</h3><p1>{$data['name']} </p1><br>
                <h4>电话号码：</h4><p2>{$data['phone']} </p2>
            </div>
            <div>
                <span class="top"></span><h2> 车子信息</h2>
                <h3> 车型：</h3><p1>{$data['models']}</p1><br>
                <h4> 车牌号码：</h4><p2>{$data['lpnumber']}</p2>
            </div>    
            <div>
                <span class="top"></span><h2> 简介</h2>
                <h>个人简介：</h><p>{$data['information']}</p><br>
            </div>
        </div>
    </div>
</div>

<script> 
var mySwiper = new Swiper('.swiper-container', {
	autoplay:3000,
	pagination:'.swiper-pagination',
	
})
    function gx(){
        window.location.href='{php echo $this->createMobileUrl('updata')}'
    }
    function tz(){
          window.location.href='{php echo $this->createMobileUrl('index')}'
    }
</script>

</body>
</html>