<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>

    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <meta name="format-detection" content="telephone=no"/>

    <meta name="description" content=""/>
    <script type="application/javascript" scr="../addons/wx_bookcar/template/js/jquery-2.1.0.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/frozen.css">
    <link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/style.css">

    <title>微信约车</title>
</head>
<body>
<div class="demo-block">
    <div class="cd ui-header ui-border-b">
        <div class="tital">
         <h4>约车列表</h4>   
        </div>
    </div>
    {if $id == null}
<button class="btn ui-btn-primary" onclick="join()">加入</button>
{else}
<button class="btn ui-btn-primary" onclick="tz()">个人中心</button>
{/if}
    
    <div class="main">
        <section class="ui-container ">
           <ul class="ui-list ui-list-function  ui-border-tb">
               {loop  $datas $data}
                    <li class="ui-border-t" style="height:100px">
                        <div class="ui-avatar-one" style="margin-top:15px">
                            <span style="background-image:url(http://placeholder.qiniudn.com/80x80)"></span>
                        </div>
                        <div class="ui-list-info">
                            <h4 class="ui-nowrap" style="margin-left:15px">{$data['name']}</h4>
                        </div>
                        <div class="ui-btn">联系我</div>
                    </li>
                {/loop}
            </ul>
        </section>
    </div>
</div>

<script>
    function tz() {
        window.location.href='{php echo $this->createMobileUrl('driver')}'
    }
    function join(){
        window.location.href='{php echo $this->createMobileUrl('join')}'
    }
</script>
</body>
</html>