<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>

    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <meta name="format-detection" content="telephone=no"/>

    <meta name="description" content=""/>
    <script type="application/javascript" scr="../addons/wx_bookcar/template/js/jquery-2.1.0.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/frozen.css">
    <link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/style.css">

    <title>微信约车</title>
</head>
<body>
<div class="demo-block">
    <header class="ui-header ui-header-stable ui-border-b">
        <i class="ui-icon-return" onclick="history.back()"></i><h1>约车列表</h1><!--<button class="ui-btn">回首页</button>-->
    </header>
    <footer class="ui-footer ui-footer-stable ui-border-t">
        <ul class="ui-tiled">
            <li><div>期待</div></li>
            <li><div>期待</div></li>
            <li onclick="tz()"><div>个人中心</div></li>
        </ul>
    </footer>
    <section class="ui-container ">
       <!-- 内容-->
        <ul class="ui-list ui-list-function ui-list-link ui-border-tb">
            <li class="ui-border-t">
                <div class="ui-avatar">
                    <span style="background-image:url(http://placeholder.qiniudn.com/80x80)"></span>
                </div>
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">林师傅</h4>
                    <h5>半小时前位置</h5>
                    <p>闽侯县上街镇</p>
                </div>
                <div class="ui-btn">联系我</div>
            </li>
            <li class="ui-border-t">
                <div class="ui-avatar">
                    <span style="background-image:url(http://placeholder.qiniudn.com/80x80)"></span>
                </div>
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">林师傅</h4>
                    <h5>半小时前位置</h5>
                    <p>闽侯县上街镇</p>
                </div>
                <div class="ui-btn">联系我</div>
            </li>
            <li class="ui-border-t">
                <div class="ui-avatar">
                    <span style="background-image:url(http://placeholder.qiniudn.com/80x80)"></span>
                </div>
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">林师傅</h4>
                    <h5>半小时前位置</h5>
                    <p>闽侯县上街镇</p>
                </div>
                <div class="ui-btn">联系我</div>
            </li>
            <li class="ui-border-t">
                <div class="ui-avatar">
                    <span style="background-image:url(http://placeholder.qiniudn.com/80x80)"></span>
                </div>
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">林师傅</h4>
                    <h5>半小时前位置</h5>
                    <p>闽侯县上街镇</p>
                </div>
                <div class="ui-btn">联系我</div>
            </li>
            <li class="ui-border-t">
                <div class="ui-avatar">
                    <span style="background-image:url(http://placeholder.qiniudn.com/80x80)"></span>
                </div>
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">林师傅</h4>
                    <h5>半小时前位置</h5>
                    <p>闽侯县上街镇</p>
                </div>
                <div class="ui-btn">联系我</div>
            </li>
            <li class="ui-border-t">
                <div class="ui-avatar">
                    <span style="background-image:url(http://placeholder.qiniudn.com/80x80)"></span>
                </div>
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">林师傅</h4>
                    <h5>半小时前位置</h5>
                    <p>闽侯县上街镇</p>
                </div>
                <div class="ui-btn">联系我</div>
            </li>
            <li class="ui-border-t">
                <div class="ui-avatar">
                    <span style="background-image:url(http://placeholder.qiniudn.com/80x80)"></span>
                </div>
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">林师傅</h4>
                    <h5>半小时前位置</h5>
                    <p>闽侯县上街镇</p>
                </div>
                <div class="ui-btn">联系我</div>
            </li>
            <li class="ui-border-t">
                <div class="ui-avatar">
                    <span style="background-image:url(http://placeholder.qiniudn.com/80x80)"></span>
                </div>
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">林师傅</h4>
                    <h5>半小时前位置</h5>
                    <p>闽侯县上街镇</p>
                </div>
                <div class="ui-btn">联系我</div>
            </li>
            <li class="ui-border-t">
                <div class="ui-avatar">
                    <span style="background-image:url(http://placeholder.qiniudn.com/80x80)"></span>
                </div>
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">林师傅</h4>
                    <h5>半小时前位置</h5>
                    <p>闽侯县上街镇</p>
                </div>
                <div class="ui-btn">联系我</div>
            </li>
            <li class="ui-border-t">
                <div class="ui-avatar">
                    <span style="background-image:url(http://placeholder.qiniudn.com/80x80)"></span>
                </div>
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">林师傅</h4>
                    <h5>半小时前位置</h5>
                    <p>闽侯县上街镇</p>
                </div>
                <div class="ui-btn">联系我</div>
            </li>

        </ul>
    </section>
</div>
<script>
    function tz() {
        window.location.href='{php echo $this->createMobileUrl('driver')}'
    }
</script>
</body>
</html>