   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>

    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <meta name="format-detection" content="telephone=no"/>

    <meta name="description" content=""/>
<script type="text/javascript" src="../addons/wx_bookcar/template/js/jquery-2.1.0.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/frozen.css">
    <link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/style.css">

    <title>微信约车</title>
</head>
<body>
    <div class="ruleMain" >
        <div >
            <h2>加入须知</h2>
        </div>
        <div >
            <p>{$data['value']}</p>
        </div>
        <div>
            <i><input type="checkbox"  id="ck" />我同意</i>
            <button  id="btn" class="ui-btn" onclick="join()" disabled>下一步</button>
        </div>    
    </div>
    <script>
        function join() {
          window.location.href='{php echo $this->createMobileUrl('join')}'
        }
        $('#ck').click(function () {
        if($(this).prop('checked')==true){
            $('#btn').attr('disabled',false)
        }else{
            $('#btn').attr('disabled',true)
        }
            }

        )
    </script>
    </body>
</html>