   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>

    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <meta name="format-detection" content="telephone=no"/>

    <meta name="description" content=""/>
    <script type="application/javascript" scr="../addons/wx_bookcar/template/js/jquery-2.1.0.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/frozen.css">
    <link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/style.css">

    <title>微信约车</title>
</head>
<body>
    <div class="ruleMain">
        <h2>加入须知</h2>
        <p>{$data['value']}</p>
       <button class="btn-primary" onclick="join()">接受</button>
    </div>
          <script>
        function join() {
           window.location.href='{php echo $this->createMobileUrl('join')}'
        }
        </script>
    </body>
</html>