<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>

<meta name="apple-mobile-web-app-capable" content="yes"/>

<meta name="apple-mobile-web-app-status-bar-style" content="black"/>

<meta name="format-detection" content="telephone=no"/>

<meta name="description" content=""/>
<script type="text/javascript" src="../addons/wx_bookcar/template/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="../addons/wx_bookcar/template/js/swiper-3.3.1.min.js"></script>
<link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/frozen.css">
<link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/style.css">
<link type="text/css" rel="stylesheet" href="../addons/wx_bookcar/template/css/swiper.min.css">
<title>微信约车</title>
<body>
    <div class="demo-block">
        <div class="tital" >
            <i class="ui-icon-return" onclick="tz()"></i>
            <h4>编辑信息</h4> 
        </div>
        <form action="{php echo $this->createMobileUrl('upload')}" method="post" enctype="multipart/form-data">
            请选择图片：
            <input type="file" name="pfile"  accept="image/jpeg,image/png" />
            <input type="submit" name="btn" id="btn" value="保存" />
        </form>
    </div>
    <script>
        function tz(){
            window.location.href='{php echo $this->createMobileUrl('updata')}'
        }
    </script>
</body>